.videoCard {
  width: 270px;
  padding: 2px;
  margin-bottom: 40px;
}

.videoCard > .video_info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoCard > .thumbnail {
  height: 140px;
  width: 250px;
}

.videoCard > .video_info > .channelImage {
  padding: 0 0 0 6px;
  width: 20px;
  height: 20px;
  margin-top: 16px;
  border-radius: 50%;
}

.videoCard > .video_info > .title {
  margin-left: 15px;
}

.videoCard > .video_info > .title > h4 {
  font-size: 14px;
  /* margin-bottom: 6px; */
}

.videoCard > .video_info > .title > p {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

/* .videoCard .video_info .avatar{
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: black;
}

.videoCard .image {
  padding: 2px;
  width: 10px;
  height: 80px;
} */
